<div class="pl-2 pb-1 pt-1 rounded" style="background-color: lightgrey">
  <div class="row" *ngFor="let item of model.properties | keyvalue">
    <div class="col-6 font-weight-bold">
      {{ item.key }}
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          {{ item.value.type }}
          <span class="font-italic" *ngIf="item.value.format"> {{ item.value.format }}</span>
        </div>
      </div>
      <div class="row" *ngIf="item.value.type === 'string' && item.value.enum">
        <div class="col-12">
          Enum: [ {{ item.value.enum.join(', ') }} ]
        </div>
      </div>
    </div>
  </div>
</div>
